<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../aba-js-imports/lodash-import.html" />
<link rel="import" href="../abas-styles/abas-styles.html">
<script>
	/**
	* 'aba-tagcloud' provides a layout engine for Dashboards
	* @customElement
	* @polymer
	* @demo demo/index.html
	* @namespace ABAS
	*/
	class AbaTagcloud extends Polymer.Element {
		constructor() {
			super();
            this.tags = [];
            this.fontMin = 12;
            this.fontMax = 32;
            this.colorClasses = ['color1', 'color2', 'color3', 'color4', 'color5'];
		}

		static get is() { return 'aba-tagcloud'; }

		static get properties() {
			return {
				/**
				* List of tags
				* @type {Array<string>}
				*/
				tags: {
					type: Array
				},
				/**
				* Minimum font size
				*/
				fontMin: {
					type: Number
				},
				/**
				* Maximum font size
				*/
				fontMax: {
					type: Number
				},
				/**
				* List of color CSS classes
				* @type {Array<string>}
				*/
				colorClasses: {
					type: Array
				}
			}
		}

		static get style() {
			return `
				.color1 {
					color: var(--color1, #961937)
				}

				.color2 {
					color: var(--color2, #ffb60f)
				}

				.color3 {
					color: var(--color3, #1fa870)
				}

				.color4 {
					color: var(--color4, #0b7b7c)
				}

				.color5 {
					color: var(--color5, #1c5e6e)
				}`;
		}

		static get item() {
			return `<span class$="tag [[tag.colorClass]]" style$="font-size: [[tag.fontSize]];">[[tag.text]]</span>`;
		}

		static get template() {
			return `
				<style>${this.style}</style>
				<div class="cloud">
					<template is="dom-repeat" items="[[_getTags(tags, fontMin, fontMax)]]" as="tag">
						${this.item}
					</template>
				</div>`
		}

		/**
		* Returns the parsed and computed tags
		* @param {Array<string>} tags List of tags
		* @param {number} fontMin
		* @param {number} fontMax
		* @return {Array<{text: string, fontSize: number, weight: number, colorClass: string}>} The parsed tags
		*/
		_getTags(tags, fontMin, fontMax) {
			let _tags = [];
			if(tags) {
				let min = _.reduce(tags, (result, value, key) => { return _.min([result, value.weight]); }, Number.MAX_VALUE);
				let max = _.reduce(tags, (result, value, key) => { return _.max([result, value.weight]); }, Number.MIN_VALUE);
				tags.forEach((tag, index) => {
					let fontSize = tag.weigth == min ? fontMin : (tag.weight / max) * (fontMax - fontMin) + fontMin;
					_tags.push({
						'text': tag.text,
						'fontSize': fontSize + 'px',
						'weight': tag.weight,
						'colorClass': this.colorClasses[index % this.colorClasses.length]
					})
				});
			}
			return _tags;
		}
	}
	customElements.define(AbaTagcloud.is, AbaTagcloud);
</script>